<div id="main"></div>
<noscript>You need to enable JavaScript to play Fitba!</noscript>
<script src="main.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
<script>
  firebase.initializeApp({
    apiKey: "AIzaSyDTPDoU-_eRDWdqrugw0AZSorKuRiQqrKk",
    authDomain: "myfitba.firebaseapp.com",
    databaseURL: "https://myfitba.firebaseio.com",
    projectId: "myfitba",
    storageBucket: "myfitba.appspot.com",
    messagingSenderId: "8662031540"
  });
  var messaging = firebase.messaging();
  messaging.requestPermission().then(() => {
    messaging.getToken().then(token => {
      console.log('user token', token);
    });
  });
</script>
<script>
    var node = document.getElementById('main');
    var app = Elm.Main.embed(node);
</script>
